extends layout

block content
  br
  h6 Already have an account? 
    a#log-in(href='/login') Log in
    br
    br
  h5 Sign up
  br
  form(method="POST", action="/signup")
        div.h5.sign-up
            label.form-label(for="username") Username
            input.form-control#username(type='text', placeholder="Username", name="username", value=(user && user.username) ? user.username : '')

        div.h5.sign-up
            label.form-label(for="password") Password
            input.form-control#password(type='password', placeholder="Password", name="password")

        button.btn.btn-primary(type="submit") Sign up